<%layout("/layouts/boilerplate") %>

<div class="row offset-2 mt-2">


  <h3>login on wanderlust</h3>

  <form method="post" action="/login " class="needs-validation" novalidate>

    <div  class="mb-3 col-6">
        <label for="username" class="form-label">User</label>
        <input type="text" class="form-control" name="username" id="username" required>
    </div>

    

    <div  class="mb-3 col-6">
        <label for="password" class="form-label">password</label>
        <input type="password" class="form-control" name="password" id="password" required>
    </div>

    <button class="btn btn-success" >login</button>

  </form>
</div>